$dark_gray: #222222;
$white: #FFFFFF;
$off-white: #FFFCF5;

$futura_light: futura_light, Helvetica, sans-serif;
$futura_med: futura_med, Helvetica, sans-serif;
$futura_book: futura_book, Helvetica, sans-serif;
$futura_heavy: futura_heavy, Helvetica, sans-serif;


$siteMaxWidth: 1200px;
